<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title>账号设置</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="index::header">
        <div class="container">
            <!-- 导航 -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- 功能 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ml-3 btn-group-vertical">
                            <a class="nav-link" th:href="@{/index}">首页</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
                            <a class="nav-link position-relative" th:href="@{/letter/list}">消息<span class="badge badge-danger" th:text="${allUnreadCount!=0?allUnreadCount:''}">12</span></a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/register}">注册</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
                            <a class="nav-link" th:href="@{/login}">登录</a>
                        </li>
                        <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" th:href="@{|/user/profile/${loginUser.id}|}">个人主页</a>
                                <a class="dropdown-item text-center" th:href="@{/user/setting}">账号设置</a>
                                <a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">nowcoder</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>

    <!-- 内容 -->
    <div class="main">
        <div class="container p-5 mt-3 mb-3" sec:authorize="hasAnyAuthority('admin')">
            <!-- 上传 -->
            <h6 class="text-left text-info border-bottom pb-2">上传</h6>
            <form class="mt-5" method="post" enctype="multipart/form-data" th:action="@{/noticeUpload}" >
                <div class="form-group row mt-4">
                    <label for="file" class="col-sm-2 col-form-label text-right">选择文件:</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" th:class="|custom-file-input ${error!=null?'is-invalid':''}|"
                                   id="file" name="file" lang="es" required="">
                            <label class="custom-file-label" for="file" data-browse="文件">选择文件</label>
                            <div class="invalid-feedback" th:text="${error}">
                                该账号不存在!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 text-center">
                        <button type="submit" class="btn btn-info text-white form-control">立即上传</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- 列表 -->
        <ul class="list-unstyled mt-4">
            <li class="media pb-3 pt-3 mb-3 border-bottom position-relative" th:each="map:${files}">

                <div class="media-body">
                    <h6 class="mt-0 mb-3">
                        <span class="float text-muted font-size-14">
									文件名<i th:text="${map.file.fileName}">2019-04-28 14:13:25</i>
                        </span>
                        <span class="float text-muted font-size-14">
									上传人 <i th:text="${map.user.username}">2019-04-28 14:13:25</i>
                        </span>
                        <span class="float text-muted font-size-14">
									时间日期 <i th:text="${map.file.createTime}">2019-04-28 14:13:25</i>
                        </span>
                    </h6>
                </div>
                <a th:href="@{|/school/${map.file.fileName}|}">
                    下载
                </a>
            </li>
        </ul>


    </div>

    <!-- 尾部 -->
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <!-- 二维码 -->
                <div class="col-4 qrcode">
                    <img src="https://www.tongji.edu.cn/images/tjwximg.jpg" class="img-thumbnail" style="width:136px;" />
                </div>
                <!-- 公司信息 -->
                <div class="col-8 detail-info">
                    <div class="row">
                        <div class="col">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">关于我们</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">加入我们</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">意见反馈</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">企业服务</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">联系我们</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">免责声明</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="#">友情链接</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="nav btn-group-vertical company-info">
                                <li class="nav-item text-white-50">
                                    公司地址：上海市杨浦区同济大学1239号
                                </li>
                                <li class="nav-item text-white-50">
                                    联系方式：123456789
                                </li>
                                <li class="nav-item text-white-50">
                                    沪ICP备12345678号-8 &nbsp;&nbsp;&nbsp;&nbsp;
                                    沪公网安备 1234566号
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/setting.js}"></script>
<script>
    $(function(){
        bsCustomFileInput.init();
    });
</script>
</body>
</html>